.carteproduct{
    width: 97%;
    position: absolute;
    top: 300px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.carteProduitTire{
    width: 100%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.imageProduit{
width: 300px;
}
.displayProduct{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.btn_shop{
    width:10%;
    border-radius: 10px;
    position: absolute;
}